.main-container {
    width: 100vw;
    background-color: black;
}
.flex {
    width: 100%;
    display: flex;
    position: absolute;
    top: 23%; 
    justify-content: space-between;
}

.bg-img {
    width: 100vw; 
    height: 100vh; 
}




