.main-container {
    width: 1920px;
    height: 100vh; 
    background-color: black;
}
.flex {
    width: 100%;
    display: flex;
    position: absolute;
    top: +50%; 
    justify-content: space-between;
}

button {
    margin: 2em 1em; 
    width: 100px; 
    padding: 1em; 

}