@font-face {
    font-family: jedi;
    src: url(../assets/fonts/Starjedi.ttf);
}

@font-face {
    font-family: catalog;
    src: url(../assets//fonts/SFDistantGalaxy.ttf);
}

.main-header {
    display: flex;
    text-align: center;
    position: absolute; 
    top: 0%;
    left: 25%; 
    color: rgb(255,231,73);
    font-size: 4em;
    text-transform: uppercase;
}

.header-title {
    font-family: jedi;
        text-shadow: 6px 6px 10px rgb(109, 109, 109);
}

.header-title-under {
    font-family: catalog;
    position: absolute;
    top: 88%;
    left: 80%;
    font-size: 1em;  
}