@font-face {
    font-family: jedi;
    src: url(../assets/fonts/Starjedi.ttf);
}

@font-face {
    font-family: catalog;
    src: url(../assets//fonts/SFDistantGalaxy.ttf);
}

.main-header {
    display: flex;
    text-align: center;
    position: absolute; 
    top: -4%;
    left: 25%; 
    color: rgb(255,231,73);
    font-size: 4em;
    text-transform: uppercase;
}

.header-title {
    font-family: jedi;
        text-shadow: 6px 6px 12px rgba(73, 73, 73, 0.444);
}

.header-title-under {
    font-family: catalog;
    position: absolute;
    top: 88%;
    left: 80%;
    font-size: 1em;  
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .main-header {
        font-size: 3em; 
        left: 22%; 
    }
}